*
{
    margin: 0;
    padding: 0;
}

.wh
{
    margin-top: 15%;
    margin-left: 42%;
}

.pseudo3
{
    background-color: orangered;
    width: 7%;
    height: 0.5vh;
    margin-left: 46.5%;
    margin-top: -1%;
}

.pstext{
    margin-left: 28%;
    margin-top: 3%;
}


.watchsets
{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.watch1 img
{
    width: 80%;
    margin-left: 3%;
}


.watch1 h5
{
    margin-left: 31%;
    margin-top: 2%;
}





.vb
{
    position: absolute;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    margin-left: 8%;
}